h1 {
    font-family: "Jaldi", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-shadow: 0 2px 0 rgb(153, 153, 153);
}

header hr {
    border: none;
    height: 2px;
    background-color: #333;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}